<%- include('partials/header.ejs') %>

<!-- <form action="/signup" method="post">
  <div>
    <label for="">Name</label>
    <input type="text" placeholder="Enter your name" name="name"/>
  </div>
  <div>
    <label for="">Email</label>
    <input type="text" placeholder="Email" name="email"/>
  </div>
  <div>
    <label for="">Password</label>
    <input type="password" placeholder="Enter your password" name="password"/>
  </div>
  <div>
    <label for="">DOB</label>
    <input type="text" placeholder="Enter your name" name="birthDate"/>
  </div>
  <button type="submit">Submit</button>
</form> -->
<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>

<form action="/login" method="post">
  <img
    class="mb-4"
    src="/docs/5.1/assets/brand/bootstrap-logo.svg"
    alt=""
    width="72"
    height="57"
  />
  <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

  <div class="form-floating">
    <input
      type="email"
      class="form-control"
      id="floatingPassword"
      placeholder="Password"
      name="email"
    />
    <label for="floatingPassword">Email</label>
  </div>
  <div class="form-floating">
    <input
      type="Password"
      class="form-control"
      id="floatingPassword"
      placeholder="Password"
      name="password"
    />
    <label for="floatingPassword">Password</label>
  </div>

  <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
  <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
</form>

<%- include('partials/footer.ejs') %>
